@import "bootstrap-sprockets";
@import "bootstrap";


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding:20px;
}
.clear{
  clear:both;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body{
  background: url('/assets/tileable_wood_texture.png');
  /* Verdana-based sans serif stack */
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

}

.navbar {
  background: url('/assets/grunge_wall.png');
  border-radius: 0;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.navbar-inverse .navbar-brand{
  color: #6E0321;
  /*font-family: 'Fontdiner Swanky', cursive;
  */
  /*font-family: 'Fontdiner Swanky', cursive;
font-family: 'Rye', cursive;
*/
  
/*font-family: 'Tangerine', cursive;
*/
font-family: 'kaushan_scriptregular', sans-serif;
  font-weight: 600;
  letter-spacing:-0.6px;
  font-size: 50px;
  text-shadow: 4px 4px 4px #aaa;

}